.button {
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 6px;
  outline: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.8s ease;
  cursor: pointer;
  color: #eee;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.button:hover {
  background-color: #eee;
  color: #fff;
  transition: all 0.8s ease;
}
.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}
.btn:focus,
.btn:hover {
  text-decoration: none;
}
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.btn.disabled,
.btn:disabled {
  opacity: .65;
}
.btn:active,
.btn.active {
  background-image: none;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
.card-wrapper-one {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card-wrapper-one img {
  margin: 0 auto;
  width: 100%;
}
.card-wrapper-one__title {
  width: 100%;
  text-align: center;
  padding: 20px;
}
.card-wrapper-post {
  display: block;
}
.card {
  position: relative;
  margin-bottom: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card .card__category {
  position: absolute;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1981f0;
  background-color: #f0f8ff;
  z-index: 5;
}
.card .card__body {
  padding: 10px;
}
.card .card__text {
  padding-left: 10px;
}
.card--post .card__body {
  max-width: 900px;
  margin: 0 auto;
}
.card__title {
  padding: 10px;
  color: #777777;
}
.view {
  position: relative;
}
@media (min-width: 600px) {
  .card-wrapper-one .card {
    width: 45%;
  }
}
.footer {
  min-width: 320px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #333333;
}
.footer__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding: 20px;
}
.footer__wrapper .footer__category span {
  font-size: 18px;
  color: #fbfbfb;
}
.footer__wrapper .footer__category .footer__category-list {
  padding-left: 0;
}
.footer__wrapper .footer__category .footer__category-list a {
  display: inline;
  color: #fbfbfb;
  font-size: 16px;
}
.footer__wrapper .footer__logo {
  border-radius: 50%;
  overflow: hidden;
}
.footer__wrapper .footer__logo img {
  width: 100px;
  height: 100px;
  max-width: 100%;
}
.footer__wrapper .footer__social span {
  color: #fbfbfb;
  font-size: 18px;
}
.footer__wrapper .footer__social .footer__social-list a {
  font-size: 16px;
  color: #fbfbfb;
}
.footer__wrapper .footer__copyright {
  text-align: center;
}
.footer__wrapper .footer__copyright span {
  display: block;
  color: #fbfbfb;
  font-size: 16px;
}
.footer__wrapper .footer__copyright i {
  margin-left: 10px;
  color: red;
}
.header {
  min-width: 320px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #feebef;
}
.header__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__wrapper .header__logo a {
  display: block;
  color: #252525;
  font-size: 26px;
}
.header__wrapper .header__nav .header__nav-list {
  padding-left: 0;
}
.header__wrapper .header__nav .header__nav-list li {
  display: inline-block;
  margin-right: 10px;
}
.header__wrapper .header__nav .header__nav-list li:hover {
  box-shadow: 0 1px 0 0 #252525;
}
.header__wrapper .header__nav .header__nav-list a {
  display: block;
  color: #252525;
}
.main-container {
  min-width: 320px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  background-color: #f0f0f0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}
html,
body {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  line-height: 26px;
  overflow-x: hidden;
  font-size: 14px;
  font-family: "Roboto", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #606060;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
p,
ul,
li {
  line-height: 30px;
  color: #777777;
}
video {
  margin: 0 auto;
}
a {
  color: #4c6cff;
  text-decoration: none;
}
a:hover {
  color: #3257ff;
}
a:active {
  color: #6681ff;
}
li {
  list-style: none;
}
.hoverable {
  transition: all.45s;
}
.hoverable img {
  transition: all.45s;
  opacity: 1;
}
.hoverable:hover {
  transition: all.45s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.hoverable:hover img {
  transition: all.45s;
  opacity: 0.9;
}
.disabled {
  color: #bbb;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
}
