@headerBg: #feebef;
@headerLogo :#252525;
@headerLink: #252525;
@headerColor: #c8d4ed;
@footerBg: #333333;
@footerColor: #b88b58;
@footerText: #fbfbfb;
@footerLink: #fbfbfb;
@accentColor: #FF5722;
@cardTitleBg: #2856b6;
@cardText: #777777;
@secondaryTextColor: #757575;
@dividerColor: #BDBDBD;
@linkColor: #4c6cff;
